.navbar-default {
    height: 50px!important;  
}

.logo {
    max-width: 67%;
    margin-left: 11px;
    background-color: transparent;
    margin-top: -10px;
}
.navbar-default .brand {
    width: 231px!important;
    padding: 8px 0px 0px 0px !important;
}
.navbar-nav > li > a {
    padding: 14px 20px!important;
}
.navbar {
    min-height: 0px!important;
    border: 0px solid transparent!important;
  
}
.navbar-btn {
    padding: 0px 0!important;
}
.navbar-inverse {
    min-height: 0px!important;
    background-color: #2B333E!important;
}
input#clave{
    -webkit-text-security: disc;
}